body {
  background: url(../img/Layer.jpg);
}
.registration-form {
  margin-top: 6rem;
}
.nav-item {
  margin-right: 0.8rem;
}
.nav-link.active {
  background-color: #03a4d9;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
.nav-link {
  background-color: #ffffff;
  color: #080808;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
#enter {
  margin-top: -0.5rem;
}
#registr {
  margin-top: -0.5rem;
}
.tab-content {
  z-index: 99;
  position: relative;
  width: 38rem;
  background-color: #03a5da;
  border-radius: 0.5rem;
}
.ent {
  display: inline-block;
  margin: 1.5rem 1.5rem;
  padding-top: 3rem;
  width: 35rem;
  height: 21rem;
  background-color: #000000;
  border-radius: 0.5rem;
}
.ent-l {
  margin-left: 1.5rem;
}
.ent span {
  margin: auto 4rem;
  font-size: 1rem;
  color: #c51f03;
}
.ent p {
  margin: 1.9rem 4rem;
  font-size: 1rem;
  color: #6f6d6d;
}
.enter-content form {
  display: inline-block;
  margin: 2.5rem 2.5rem;
  padding-top: 4rem;
  width: 58rem;
  height: 36rem;
  background-color: #000000;
  border-radius: 0.5rem;
}
.enter-btn {
  outline: none;
  z-index: 99;
  position: absolute;
  display: inline-block;
  margin-top: -3rem;
  margin-left: 29.3rem;
  text-align: center;
  width: 8rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border: none;
  background: url('../img/rgt-btn.jpg') center;
  color: #ffffff;
}
.input {
  margin: 1rem 2.3rem;
  width: 30rem;
  height: 3.5rem;
  background-color: #191818;
  color: #ffffff;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
}
.input[type="text"] {
  padding-left: 2rem;
}
.input::-webkit-input-placeholder {
  color: white;
}
.checkbox {
  display: inline-block;
  margin: 0rem 0.4rem;
}
.rgt {
  display: inline-block;
  margin: 1.5rem 1.5rem;
  padding-top: 3rem;
  width: 35rem;
  height: 27rem;
  background-color: #000000;
  border-radius: 0.5rem;
}
.rgt span {
  margin: auto 4rem;
  font-size: 1rem;
  color: #c51f03;
}
.rgt p {
  margin: 1.9rem 4rem;
  font-size: 1rem;
  color: #6f6d6d;
}
.registr-btn {
  outline: none;
  z-index: 99;
  position: absolute;
  display: inline-block;
  margin-top: -3rem;
  margin-left: 27.5rem;
  text-align: center;
  width: 10rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border: none;
  background: url('../img/rgt-btn.jpg') center;
  color: #ffffff;
}
